*, body{
    margin: 0%;
    padding: 0%;
}
#navDiv{
    width: 100svw;
    height: 100svh;
    overflow: auto;
    background: rgba(2, 0, 0, 0.9);
    color: rgb(248, 247, 247);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* nav{
    z-index:2;
} */



#navDivBg{
    background: radial-gradient(circle,transparent,transparent, black);
    width: 100svw;
    height: 100svh;
    position: absolute;
}

#navDivVideo {
    object-fit: cover;
    width: 100svw;
    height: 100svh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}


#navDiv h1{
    font-size: 90px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.expertCard{
    width: 19rem;
    background-color: rgba(2, 0, 0, 0.89);
}
.expertCard img{
    width: 17rem;
    margin-top: 1rem;
}



.carousel-inner{
    margin: 170px 0px;
}


.carouselFact{
    width: 100svw;
    height: 80svh;
    background-size: 100% 100%;
}


.carouselFactText{
    width: 100%;
    height: 80svh;
    background: rgba(2, 0, 0, 0.65);
    display: flex;
    justify-content: center;
    padding-left: 50svw;
    align-items: end;
    font-size: 30px;
    font-weight:bold;
    font-family:'Times New Roman', Times, serif;
    color: rgb(255, 250, 250);
    letter-spacing: 2px;
    line-clamp: 4px;
}


.partnersLogo{
    padding: 10px;
    /* background-color: rgba(0, 0, 0, 0.89); */
}

.partnersLogo img{
    width: 10svw;
    height: 10svh;
    margin: 26px;
}

footer{
    margin-top: 200px;
}

#footerMain{
    padding: 170px;
}



/* @media screen and (max-width: 1370px) {

    #navDiv{
        width: 100vw;
        height: 100svh; 
    }
    
    #navDivVideo{
        width: 100vw;
        height: 100svh; 
        object-fit: cover;
    }

    #navDivBg{
        width: 100vw;
        height: 100svh;
    }

    .carouselFact,.carouselFactText{
        width: 100%;
        height: 80svh;
        font-size: 24px;
    }

    .partnersLogo img{
        width: 15svw;
        height: 13svh;
    }
   
}


@media screen and (max-width: 950px) {

    .navColor{
        background: black;
    }

    #navDiv{
        width: 100vw;
        height: 60svh; 
    }
    
    #navDivVideo{
        width: 100vw;
        height: 60svh; 
        object-fit: cover;
    }

    #navDivBg{
        width: 100vw;
        height: 60svh;
    }

    #navDiv h1{
        font-size: 45px;
    }

    .carouselFact,.carouselFactText{
        width: 100%;
        height: 40svh;
        font-size: 18px;
    }

    .partnersLogo img{
        width: 15svw;
        height: 12svh;
    }
   
}


@media screen and (max-width: 554px) {
    .navColor{
        background: black;
    }

    #navDiv{
        width: 100vw;
        height: 50svh; 
    }

    #navDivVideo{
        width: 100vw;
        height: 50svh; 
        object-fit: fill;
    }
    
    #navDiv h1{
        font-size: 45px;
    }

    #navDivBg{
        width: 100vw;
        height: 50svh;
    }

    .carouselFact,.carouselFactText{
        width: 100%;
        height: 40svh;
        font-size: 12px;
    }

    .carouselFact,.carouselFactText{
        width: 100%;
        height: 40svh;
        font-size: 14px;
    }

    .partnersLogo img{
        width: 15svw;
        height: 10svh;
    }
}


@media screen and (max-width: 425px) {


    .navColor{
        background: black;
    }


    #navDiv{
        width: 100vw;
        height: 55svh; 
    }

    #navDivVideo{
        width: 100vw;
        height: 55svh; 
        object-fit: fill;
    }

    #navDivBg{
        width: 100vw;
        height: 55svh;
    }

    #navDiv h1{
        font-size: 30px;
    }

    .carouselFact,.carouselFactText{
        width: 100%;
        height: 40svh;
        font-size: 12px;
    }


    .partnersLogo img{
        width: 15svw;
        height: 10svh;
    }


   
} */



